<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }} | {{ site.tagline }}{% endif %}</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | truncatewords: 50 }}">
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  {% feed_meta %}
  {% seo %}
</head>
<body>
  <div class="site-wrapper">

    {% include nav.html %}

    <main>
      {{ content }}
    </main>

    {% include footer.html %}

  </div>
</body>
</html>
